<!-- chat.html -->
<div th:fragment="chat" >
    <div class="container">
        <div class="hero-unit">
            <div class="row-fluid">
                <div class="offset4 span4">
                    <div class="control-group">
                        <span th:text="${T(com.hundredcommits.messengerx.utils.SecurityUtils).getAuthenticatedUsername()}" id="user"></span>
                    </div>
                    <div id="reponse"></div>
                    <div class="control-group">
                        <input class="form-control" id="messageToSend" type="text" placeholder="Wpisz wiadomość..."/><br>
                    </div>
                </div>
                <div class="span2">
                    <button class="btn btn-primary" onclick="sendMessage()">Send</button>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>
