<!-- chat.html -->
<div th:fragment="chat" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="hero-unit">
            <div class="row-fluid">
                <div class="offset4 span4">
                    <div id="reponse"></div>
                    <div class="control-group">
                        <label for="messageToSend"></label>
                        <input class="form-control" id="messageToSend" type="text" placeholder="Wpisz wiadomość..."/>
                        <br>
                    </div>
                </div>
                <div class="span2">
                    <button class="btn btn-primary" onclick="sendMessage()">Send</button>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>
