<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">
</head>
<body onload="connect()">
<div th:insert="~{parts/navigation::navigation}"></div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Znajomi</h2>
            <ul class="list-group">
                <li th:each="friend : ${friends}" class="list-group-item">
                    <a th:href="@{'/chat/' + ${friend}}" th:text="${friend}">Znajomy</a>
                    <form th:action="@{js}" method="post" style="display: inline;">
                        <input type="hidden" name="username" th:value="${friend}" />
                        <button type="submit" class="btn btn-danger btn-sm">Usuń znajomego</button>
                    </form>
                </li>
            </ul>
            <form action="#" th:action="@{js}" method="POST">
                <div class="form-group">
                    <label for="username">Dodaj znajomego:</label>
                    <input type="input" class="form-control" name="username"  id="username" required>
                </div>
                <button type="submit" class="btn btn-primary">Dodaj</button>
            </form>
        </div>
        <!-- Obszar czatu -->
        <div class="col-md-8">
            <div th:replace="~{chat/chat::chat}"></div>
        </div>
    </div>
</div>
<script src="/js/Chat.js"></script>
<script src="/js/Stomp.js"></script>
</body>
</html>
