<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div th:insert="~{parts/navigation::navigation}"></div>
<input type="hidden" id="authenticated-username" th:value="${T(com.hundredcommits.messengerx.utils.SecurityUtils).getAuthenticatedUsername()}" />

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Znajomi</h2>
            <ul class="list-group">
                <li th:each="friend : ${friends}" class="list-group-item">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <span th:text="${friend.username}" ></span>
                            <span th:id="'status-' +${friend.username}" class="badge ms-2" th:classappend="${friend.status ? 'bg-success' : 'bg-secondary'}">
                                <span th:if="${friend.status}">Online</span>
                                <span th:unless="${friend.status}">Offline</span>
                            </span>
                        </div>
                        <div>
                            <a href="#" th:attr="data-username=${friend.username}" onclick="connect(this.getAttribute('data-username'))" class="btn btn-primary btn-sm">Połącz</a>
                            <form th:action="@{/friends/remove}" method="post" style="display: inline;">
                                <input type="hidden" name="username" th:value="${friend.username}" />
                                <button type="submit" class="btn btn-danger btn-sm">Usuń znajomego</button>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
            <form action="#" th:action="@{/friends/add}" method="POST">
                <div class="form-group">
                    <label for="username">Dodaj znajomego:</label>
                    <input type="input" class="form-control" name="username"  id="username" required>
                </div>
                <button type="submit" class="btn btn-primary">Dodaj</button>
            </form>
        </div>
        <!-- Obszar czatu -->
        <div class="col-md-8">
            <div th:replace="~{chat/chat::chat}"></div>
        </div>
    </div>
</div>
<script src="/js/chat.js"></script>
<script src="/js/stomp.js"></script>
<script src="/js/friends-status.js"></script>
</body>
</html>
