<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div th:insert="~{parts/navigation::navigation}"></div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Znajomi</h2>
            <ul class="list-group">
                <li th:each="friend : ${friends}" class="list-group-item">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <span th:text="${friend.username}" onclick="handleClick(this)"></span>
                            <span th:id="'status-' +${friend.username}" class="badge ms-2" th:classappend="${friend.status ? 'bg-success' : 'bg-secondary'}">
                                <span th:if="${friend.status}">Online</span>
                                <span th:unless="${friend.status}">Offline</span>
                            </span>
                        </div>
                        <div>
                            <form th:action="@{/friends/remove}" method="post" style="display: inline;">
                                <input type="hidden" name="username" th:value="${friend.username}" />
                                <button type="submit" class="btn btn-danger btn-sm">Usuń znajomego</button>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
            <form action="#" th:action="@{/friends/add}" method="POST">
                <div class="form-group">
                    <label for="username">Dodaj znajomego:</label>
                    <input type="input" class="form-control" name="username"  id="username" required>
                </div>
                <button type="submit" class="btn btn-primary">Dodaj</button>
            </form>
        </div>
        <!-- Obszar czatu -->
        <div class="col-md-8">
                <div class="container">
                    <div class="hero-unit">
                        <div class="row-fluid">
                            <div class="offset4 span4">
                                <div id="reponse"></div>
                                <div class="control-group">
                                    <label for="messageToSend"></label>
                                    <input class="form-control" id="messageToSend" type="text" placeholder="Wpisz wiadomość..."/>
                                    <br>
                                </div>
                            </div>
                            <div class="span2">
                                <button class="btn btn-primary" onclick="sendMessage()">Send</button>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
        </div>
    </div>
</div>
<script src="/js/main.js"></script>
<script src="/js/friends-status.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</body>
</html>
